<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main>
  {% dnd_area "dnd_area_main_banner" label='Main Content' %}

    {# Hero section #}
    {% dnd_section
      background_image = {
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url("../images/hero-internal.jpg")
      },
      padding={
        'top': 60,
        'bottom': 60,
        'left': 25,
        'right': 25
      },
      max_width=600
       %}
          {% dnd_module
            path="@hubspot/rich_text",
            flexbox_positioning="TOP_CENTER"
          %}
            {% module_attribute "html" %}
              <div style="text-align: center;">
                <h1 style="color: #ffffff">Meet our team</h1>
                <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet sapien sed efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet sapien sed efficitur.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
    {% end_dnd_section %}
    {# End of Hero Section #}

    {# Main Content Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute "html" %}
              <h2 style="text-align: center;">Have some questions?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column width=8, offset=0 %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute "html"%}
                  <h3>This webinar is everything you need in life &amp; more.</h3>
                  <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus.
                  Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum
                  felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris
                  dui orci, pulvinar sit amet ligula vel. </p>

                  <p> Suspendisse faucibus ullamcorper massa, nec eleifend ante imperdiet in.
                  Aliquam consequat bibendum ante, vitae placerat odio gravida eu. Maecenas
                  eleifend est risus, sed luctus neque faucibus sit amet.</p>

                  <ul>
                    <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
                    <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
                    <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=4, offset=8 %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/form' %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# Main Content Section #}

  {% end_dnd_area %}
</main>


{% endblock body %}
