<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-no-navigation.html" %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "landing_page" label='Main section' class="landing-page" %}
    {# Landing Page Video Hero #}
    {% dnd_section
      background_color = {
        r: 5,
        g: 31,
        b: 70,
        a: 1.0,
      },
      padding={
        'top': 40,
        'left': 25,
        'bottom': 40,
        'right': 25
      }
    %}
      {% dnd_column width=4 %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/linked_image",
            horizontal_alignment='CENTER',
            img={
              'loading': 'disabled',
              'max_height': 452,
              'max_width': 346,
              'size_type': 'auto_custom_max',
              'src': get_asset_url('../images/barricade_cta.png')
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=8, offset=4 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute "html" %}
              <p style="color: white; font-size: 20px;">Webinar</p>
              <h1 style="color: white; margin-top:10px;">Our Safety Guide for Beginners.</h1>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Landing Page Two Column Section #}
    {% dnd_section %}
      {% dnd_column width=6, offset=0 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute "html" %}
              <h2>If you work in this industry, this ebook is meant for you.</h2>
              <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus. Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris dui orci, pulvinar sit amet ligula.</p>
              <p>Suspendisse faucibus ullamcorper massa, nec eleifend ante imperdiet in. Aliquam consequat bibendum ante, vitae placerat odio gravida eu. Maecenas eleifend est risus, sed luctus neque faucibus sit amet.</p>

              <ul>
                <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
                <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
                <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
              </ul>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=6, offset=6 %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/form',
            title="Download Now"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/footer-no-navigation.html" %}
{% endblock footer %}
