/* Table */

table {
  border-collapse: collapse;
  margin-bottom: 1.4rem;
}

/* Table Cells */

th,
td {
  vertical-align: top;
}

/* Table Header */

thead th,
thead td {
  vertical-align: bottom;
}
