.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
}

.dnd-section .dnd-column {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  overflow: visible;
  padding: 0 25px;
}

.flex {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mobile-col {
    flex-direction: column;
  }

  .dnd-section .dnd-column {
    padding-left: 0;
    padding-right: 0;
  }
}
