<div class="tech-banner">
	{{ module.banner_heading }}
	<div class="tech-banner_images">
		{% for image in module.banner_images %}
      {% if image.banner_image.src %}
        {% set loadingAttr = image.banner_image.loading != 'disabled' ? 'loading="{{ image.banner_image.loading }}"' : '' %}
        <span class="tech-banner_image">
          <img src="{{ image.banner_image.src }}" alt="{{ image.banner_image.alt }}" {{ loadingAttr }}>
        </span>
      {% endif %}
		{% endfor %}
	</div>
</div>
