<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Martech - blog post
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% set template_css = '../../css/templates/blog.css' %}
{% extends "./layouts/base.html" %}

{% block body %}
<div class="blog-header container">
  <a href="{{ group.absolute_url }}">
    <h4>
      {% module 'back_to_blog'
        path='@hubspot/text',
        label='Back to blog button text',
        value='Back to Blog'
      %}
    </h4>
  </a>
</div>
<div class="content-wrapper container">
  <div class="blog-post">
    <div class="blog-post__tags">
      {% for tag in content.tag_list %}
        <a class="blog-post__tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
    <h1 class="blog-post__title">{{ content.name }}</h1>
    <div class="blog-author">
      {% if content.blog_author.avatar %}
      <div class="blog-author__image">
        <img src="{{ content.blog_author.avatar }}" loading="eager" alt="Image of {{ content.blog_author.display_name }}">
      </div>
      {% endif %}
      <h6 class="blog-author__name">
        {{ content.blog_post_author.display_name }}
      </h6>
    </div>
    <div class="blog-post__social-sharing">
      <div class="social-links">
        {% if group.show_social_link_twitter %}
        <a href="https://twitter.com/intent/tweet?text=I+found+this+interesting+blog+post&url={{ content.absolute_url }}" target="_blank" rel="noopener" class="social-links__icon">
          {% icon name='twitter', style='solid' %}
        </a>
        {% endif %}
        {% if group.show_social_link_facebook %}
        <a href="http://www.facebook.com/share.php?u={{ content.absolute_url }}" target="_blank" rel="noopener"  class="social-links__icon">
          {% icon name='facebook-f', style='solid' %}
        </a>
        {% endif %}
        {% if group.show_social_link_linkedin %}
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}" target="_blank" rel="noopener" class="social-links__icon">
          {% icon name='linkedin-in', style='solid' %}
        </a>
        {% endif %}
        <a href="mailto:?subject=Check out {{ content.absolute_url }} &body=Check out {{ content.absolute_url }}&media={{ content.featured_image }}" target="_blank" rel="noopener" class="social-links__icon">
          {% icon name='envelope', style='solid' %}
        </a>
      </div>
    </div>

    {% if content.featured_image %}
    <div class="blog-post__image-wrapper">
      <img class="blog-post__image" src="{{ content.featured_image }}" loading="eager" alt="{{ content.featured_image_alt_text }}">
      </div>
    {% endif %}


    <div class="blog-post__body">
      {{ content.post_body }}
    </div>
    <hr class="blog-post__divider" />
    <div class="blog-post__author">
      <div class="blog-post__author__image">
        <img src="{{ content.blog_author.avatar }}" height="150" loading="lazy" alt="Image of {{ content.blog_author.display_name }}">
      </div>
      <div class="blog-post__author__text">
        <h6> {{ content.blog_post_author.display_name }} </h6>
        <p>{{ content.blog_post_author.bio }}</p>
        {% if content.blog_author.has_social_profiles %}
          <div class="blog-post__author__sharing">
            {% if content.blog_author.website %}
              <a href="{{ content.blog_author.website }}" target="_blank" rel="noopener">
                {% icon
                  name='link',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on my website',
                  width='10'
                %}
              </a>
            {% endif %}
            {% if content.blog_author.facebook %}
              <a href="{{ content.blog_author.facebook }}" target="_blank" rel="noopener">
                {% icon
                  name='facebook-f',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on Facebook',
                  width='10'
                %}
              </a>
            {% endif %}
            {% if content.blog_author.linkedin %}
              <a href="{{ content.blog_author.linkedin }}" target="_blank" rel="noopener">
                {% icon
                  name='linkedin-in',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on LinkedIn',
                  width='18'
                %}
              </a>
            {% endif %}
            {% if content.blog_author.twitter %}
              <a href="{{ content.blog_author.twitter }}" target="_blank" rel="noopener">
                {% icon
                  name='twitter',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on Twitter',
                  width='18'
                %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    {# This macro is used to format each recent post card and
    gets passed to the 'related_blog_posts' tag below #}
    {% macro recent_post(post) %}
      <div class="blog-index--2-col__post">
        <div class="blog-index--2-col__post-image-wrapper">
          <img class="blog-index--2-col__post-image" src="{{ post.featured_image }}" height="175" loading="lazy" alt="{{ post.featured_image_alt_text }}">
        </div>
        <div class="blog-index--2-col__post-content">
          <h3 class="blog-index--2-col__post-content__title">{{post.title}}</h3>
          <div class="blog-author">
            {% if post.blog_author.avatar %}
            <div class="blog-author__image">
              <img src="{{ post.blog_author.avatar }}" height="70" loading="lazy" alt="Image of {{ post.blog_author.display_name }}">
            </div>
            {% endif %}
            <div class="blog-author__name">
              <h6>{{ post.blog_author.display_name }}</h6>
            </div>
          </div>
          <div class="blog-post__tags">
            {% for tag in post.tag_list %}
              <a class="blog-post__tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
            {% endfor %}
          </div>
          <div class="blog-summary">
            {{ post.post_summary|truncatehtml(100) }}
          </div>
          <a class="button button--simple" href="{{ post.absolute_url }}">
            {% module 'read_more_button'
              path='@hubspot/text',
              label='Read more button text',
              value='Read more'
            %}
          </a>
        </div>
      </div>
    {% endmacro %}

    {% if group.allow_comments %}
      <div class="blog-post__comments-listing">
        {% module 'blog_comments'
          path='@hubspot/blog_comments'
        %}
      </div>
    {% endif %}

    <div class="blog-recent-posts">
      <h2 class="blog-recent-posts__title">
        {% module 'related_posts_heading'
          path='@hubspot/text',
          label='Related posts heading',
          value='Related Posts'
        %}
      </h2>
      <div class="blog-recent-posts__list">
        {% related_blog_posts limit=2, post_formatter="recent_post", no_wrapper=True %}
      </div>
    </div>

  </div>
</div>
{% endblock body %}


