/* Primary Button */

button,
.button,
.hs-button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  transition: color 0.15s linear;
  white-space: normal;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  transition: background-color 0.3s;
}

/* Simple Button */

.button.button--simple {
  background-color: transparent;
  border: none;
  padding: 0 !important;
  position: relative;
}

.button.button--simple:after {
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus {
  background-color: transparent;
  border: none;
}

.button.button--simple:active {
  background-color: transparent;
  border: none;
}

/* Button Icons */

.button .button__icon svg {
  display: block;
  fill: inherit;
  height: 1.25rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon {
  order: 1;
}

.button.button--icon-right .button__icon svg {
  margin-left: 1rem;
  margin-right: 0;
}
