.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  padding: 2rem;
  text-align: center;
}

.card button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}

.card hr {
  border-bottom-color: #ced4db;
  border-bottom-width: 1.5px;
}

.card-header {
  text-align: center;
}

.card-heading {
  text-align: center;
}

.card-subtitle,
.card-body li {
  font-size: 0.9em;
  line-height: 1.2em;
}

.card-body ul,
.card-body li {
  padding: 0;
}

.card-body li {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
  text-align: left;
}

.card-body svg {
  display: inline-block;
  fill: #494a52;
  margin-right: 10px;
  max-width: 20px;
}

@media screen and (max-width: 1200px) {
  .card {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 787px) {
  .card {
    margin-bottom: 1rem;
  }
}
