/* Footer */

.footer {
  padding-top: 20px;
}

.footer .dnd-section {
  margin: 0 auto;
  padding: 0;
}

.footer.footer__no-navigation {
  background-color: #fff;
}

.footer__container--static {
  justify-content: space-between;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.footer__row--info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__info,
.footer__site-map {
  padding: 0 20px;
}

.footer__info__logo {
  margin-bottom: 20px;
}

.footer__info__address {
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Footer menu */

.footer__site-map {
  display: flex;
}

.footer__site-map__section {
  margin: 0 20px;
}

.footer__site-map__section h4 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
}

.footer .hs-menu-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.footer .hs-menu-wrapper li {
  margin: 0;
  padding-bottom: 10px;
}

.footer .hs-menu-wrapper a {
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .footer__row,
  .footer__site-map {
    display: block;
    text-align: center;
  }
}
