<section class="blog-index-header">
  <div class="content-wrapper content-wrapper--narrow">
    {% if module.title %}
      <h1 class="blog-index-header__title">{{ module.title }}</h1>
    {% else %}
      <h1 class="blog-index-header__title">{{ group.public_title }}</h1>
    {% endif %}
    {% if module.subtitle %}
      <p class="blog-index-header__subtitle">{{ module.subtitle }}</p>
    {% else %}
      <p class="blog-index-header__subtitle">{{ group.description }}</p>
    {% endif %}
  </div>
</section>

{% if module.override_default_style %}
  {% require_css %}
  <style>
    #hs_cos_wrapper_{{ name }} .blog-index-header__title {
      color: {{ module.style.title_color.color }};
    }
    #hs_cos_wrapper_{{ name }} .blog-index-header__subtitle {
      color: {{ module.style.subtitle_color.color }};
    }
    #hs_cos_wrapper_{{ name }} .content-wrapper {
      padding: {{ module.style.padding.vertical ~ 'px' }} {{ module.style.padding.horizontal ~ 'px' }};
    }
    {% if module.style.background_type == 'bg_image' %}
      #hs_cos_wrapper_{{ name }} .blog-index-header {
        background-image: url('{{ module.style.bg_image.src }}');
      }
    {% elif module.style.background_type == 'color_gradient' %}
      #hs_cos_wrapper_{{ name }} .blog-index-header {
        background-image: linear-gradient(153.09deg, rgba({{ module.style.gradient_colors.color_1.color|convert_rgb }},{{ module.style.gradient_colors.color_1.opacity * .01 }}) 0%, rgba({{ module.style.gradient_colors.color_2.color|convert_rgb }},{{ module.style.gradient_colors.color_2.opacity * .01 }}) 100%);
      }
    {% endif %}
  </style>
  {% end_require_css %}
{% endif %}