/* Base */

form {
  max-width: 100%;
}

.hs-form-field {
  position: relative;
}

/* Form Title */

.form-title {
  margin: 0;
}

.form-title ~ div > form {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Labels */

.hs-form-field > label {
  display: block;
  letter-spacing: 2px;
  margin-bottom: 0.375rem;
  text-align: left;
  text-transform: uppercase;
  width: auto;
  z-index: 1;
}

/* Inputs */

.input {
  position: relative;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='file'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100% !important;
}

select::-ms-expand {
  display: none;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='file']:focus,
select:focus,
textarea:focus {
  outline-color: #00cb66;
}

fieldset {
  max-width: 100% !important;
}

/* Inputs - Checkbox/Radio */

.inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inputs-list > li {
  display: block;
  margin: 0.75rem 0;
  padding: 0;
  width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin-right: 0.375rem;
  padding: 0;
  width: auto;
}

/* Inputs - Select */

.hs-fieldtype-select .input:after {
  content: '\25BE';
  pointer-events: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Inputs - Datepicker */

.hs-fieldtype-date .input .hs-dateinput:before {
  content: '\01F4C5';
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: #fff;
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover {
  border-radius: 0 !important;
}

/* Inputs - File Picker */

input[type='file'] {
  background-color: transparent;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

/* Headings and Text */

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  background-color: transparent;
  border: none;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  font-size: 0.875rem;
  margin-left: 1rem !important;
}

/* Validation */

.hs-form-required {
  color: #ef6b51;
}

.hs-error-msg {
  margin-top: 0.375rem;
}

/* Submit */

form input[type='submit'],
form .hs-button {
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.2em;
  margin: 0;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
  width: 100%;
}

/* Captcha */

.grecaptcha-badge {
  margin: 0 auto;
}
