/* Header */

.header .dnd-section {
  padding: 0;
}

.header__dnd--top > .row-fluid-wrapper > .row-fluid > .span12,
.header__dnd--bottom > .row-fluid-wrapper > .row-fluid > .span12 {
  min-height: 0;
}

/* Header Container */

.header__container-inner-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 767px) {
  .header__container-inner-wrapper {
    padding: 0;
  }

  .header__container {
    padding: 20px;
  }
}

/* Top Header */

.header__container--upper {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

@media (max-width: 767px) {
  .header__container--upper {
    display: none;
  }
}

.header__container--upper .header__container-inner-wrapper {
  justify-content: flex-end;
}

/* Top Navigation */

.header__top-navigation {
  align-items: center;
  display: flex;
}

@media (max-width: 767px) {
  .header__container--upper .header__top-navigation {
    display: none;
  }
}

.header__container--upper ul li,
.header__container--upper .navigation-primary ul.submenu.level-1 > li {
  padding-bottom: 0;
  padding-top: 0;
}

.header__container--upper .navigation-primary .level-1 > .has-submenu:after {
  content: none !important;
}

/* Language Switcher */

.header__language-switcher {
  padding: 0 1.5rem;
  position: relative;
}

@media (max-width: 767px) {
  .header__language-switcher {
    padding: 0;
  }

  .header__container--visible-mobile {
    display: block;
  }
}

.header__language-switcher-label {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.lang_switcher_class {
  position: static !important;
}

.header__language-switcher .globe_class {
  background-color: #fff;
  display: inline-block;
  height: 15px;
  margin-left: 0.75rem;
  vertical-align: middle;
  width: 15px;
}

.header__language-switcher .lang_list_class {
  left: initial;
  min-width: 200px;
  padding-top: 0;
  right: 0;
  top: 100%;
  transform: initial;
}

.header__language-switcher:hover .lang_list_class {
  display: block;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s;
  visibility: visible;
}

.header__language-switcher .lang_list_class:before,
.header__language-switcher .lang_list_class:after {
  display: none !important;
}

.header__language-switcher .lang_list_class li {
  border: none;
  margin: 0;
  padding: 10px !important;
  text-align: left;
  transition: background-color 0.3s;
}

.header__language-switcher .lang_list_class li:first-child,
.header__language-switcher .lang_list_class li:last-child {
  border: none;
}

.header__language-switcher .lang_list_class a {
  letter-spacing: 0.1em;
}

.header__language-switcher-label-current {
  letter-spacing: 0.1em;
}

/* Bottom Header */

.header__container--lower {
  position: relative;
}

/* Logo */

.header__logo {
  margin-right: 1.5rem;
  padding: 0.75rem 0;
}

.header__logo img {
  height: auto;
  max-width: 250px;
}

@media (max-width: 479px) {
  .header__logo img {
    max-width: 100%;
  }
}

.header__logo .logo-company-name {
  font-size: 28px;
}

/* Main Menu */

#nav-toggle {
  display: none;
}

/* Bottom Navigation */

@media (min-width: 767px) {
  .header__navigation--secondary-mobile {
    display: none !important;
  }

  .header__container--lower .header__menu,
  .header__container--lower .header__navigation,
  .header__container--lower .header__navigation > div,
  .header__container--lower .navigation-primary,
  .header__container--lower .navigation-primary > ul,
  .header__container--lower .navigation-primary > ul li {
    align-items: center;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    display: flex;
  }
}

@media (max-width: 767px) {
  .header__container--lower .header__navigation {
    display: none;
  }

  .header__navigation {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 99;
  }

  .header__container--lower .header__menu,
  .header__container--lower .header__navigation > div,
  .header__container--lower .navigation-primary,
  .header__container--lower .navigation-primary > ul,
  .header__container--lower .navigation-primary > ul li {
    display: block;
  }
}

/* Menu Toggles */

@media (max-width: 767px) {
  .header__mobile-menu-icon,
  .header__mobile-menu-icon:after,
  .header__mobile-menu-icon:before {
    border-radius: 10px;
    display: inline-block;
    height: 4px;
    width: 25px;
  }

  .header__mobile-menu-icon {
    position: relative;
    top: -6px;
  }

  .header__mobile-menu-icon:before {
    top: -8px;
  }

  .header__mobile-menu-icon:after {
    top: 8px;
  }

  .header__mobile-menu-icon:after,
  .header__mobile-menu-icon:before {
    content: '';
    position: absolute;
  }

  #nav-toggle:checked ~ .header__navigation {
    display: block;
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon {
    margin: 0 auto;
    transform: rotate(45deg);
  }

  /* prettier-ignore */
  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon:before {
    content: none;
  }

  /* prettier-ignore */
  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon:after {
    top: 0;
    transform: rotate(-90deg);
  }

  .header__navigation-toggle {
    cursor: pointer;
    display: block;
  }
}
