{% set my_tags = blog_tags('default', 250) %}
{% set currentURL = content.absolute_url|regex_replace('^(http|https):', '') %}

<form class="blog-filter-tags">
  <label for="blog-filter__category" id="blog-filter__label">{{ module.label_text }}</label>
  <select name="blog-filter__category" id="blog-filter__category">
    <option {% if currentURL == group.absolute_url|regex_replace('^(http|https):', '') %}selected="selected"{% endif %} value="{{ group.absolute_url }}">{{ module.placeholder_text }}</option>
  {% for item in my_tags %}
    <option {% if currentURL == blog_tag_url(group.id, item.slug)|regex_replace('^(http|https):', '') %}selected="selected"{% endif %} value="{{ blog_tag_url(group.id, item.slug) }}">{{ item }}</option>
  {% endfor %}
  </select>
</form>