.icon-card {
  border: 1px solid #e7ebef;
}

@media (max-width: 767px) {
  .icon-card {
    margin-bottom: 2rem;
  }
}

.icon-card__background {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon-card__upper {
  height: 250px;
  position: relative;
  width: 100%;
}

.icon-card__image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .icon-card__upper,
  .icon-card__image {
    display: block;
    height: auto;
  }
}

.icon-card__content {
  padding: 20px;
}

.icon-card__name {
  margin: 0;
}

.icon-card__text {
  border-top: 2px solid #e7ebef;
  line-height: 2rem;
  margin-top: 20px;
  padding-top: 20px;
}

.icon-card__text p {
  margin: 0;
}
