table {
  border-spacing: 0;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 1rem;
}

th,
td {
  text-align: center;
  vertical-align: top;
}

thead th,
thead td {
  border: 0;
}

thead th {
  vertical-align: bottom;
}
